<div class="row">
  <div class="col-md-12">
    <img
      [src]="recipe.ImagePath"
      [alt]="recipe.Name"
      class="image-responsive"
      style="max-width: 250px"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>{{ recipe.Name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown" appDropdown aria-labelledby="dropdownMenuButton">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>
      </div>
    </div>
  </div>
  <br />
</div>
<div class="row">
  <div class="col-md-12">{{ recipe.Description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.Ingredients">
        {{ ingredient.Name }} - {{ ingredient.Amount }}
      </li>
    </ul>
  </div>
</div>
